<!DOCTYPE html>
	<%- include('./partials/head.ejs') %>
    <body>
		<div class="container">
			<%- include('./partials/header.ejs') %>
			<%- include('./partials/titlerow.ejs') %>
			<article class="main">
				<div class="main-text">					
					<h2>Who am I? Why did i create this?</h2>
					<p>...some welcome note for you!</p>
					<p>My name is <mark class="accent-white">balint ferencz</mark> from Hungary Budapest 🇭🇺, I am a practitioner jurist, a Phd student and a hobby programmer</p>
					<p>here i would like to share my works, some recommended materials <mark class="accent-white">in the field of legal informatics</mark> and some other stuff.</p>
					<p>(sure, i could do that on facebook or twitter, but <mark class="accent-white">here i do not need to fight for your likes.</mark> and you do not need to like my posts. <mark class="accent-white">win-win)</mark></p>
					<p>i encourage you to browse here; i can assure you that <mark class="accent-white">it is one of the best places on the web</mark></p>
					<p>happy browsing, happy coding and above all, make sure that you've <mark class="accent-white">bookmarked the page</mark></p>
				</div>
			</article>
			<%- include('./partials/figures.ejs') %>
			<%- include('./partials/research-fields.ejs') %>
			<%- include('./partials/social-row.ejs') %>
			<%- include('./partials/footer.ejs') %>
		</div>	
	</body>
